/*
    Pallettes

    #22007C;

    #140152;

    #04052E;

    #02010A;
*/

body{
    background-color: #C7F9CC;

}

main{
    font-family: 'Hind', sans-serif;
}

.item-carrossel{
    height: 30rem;
}

.item-carrossel .img-carrossel{
    height: 30rem;
    object-fit: cover;
    filter: blur(0.2rem) brightness(0.2);

}

.minha-card{
    width: 20rem;
    height: 9rem;
    margin: 2rem 0;
    border: 0.1rem solid #000;
    border-radius: 1rem;
    padding: 0.5rem 0.2rem;
}

.minha-card .img-card{
    width: 50%;
    height: 100%;
    border: 0.1rem solid #000;
    margin: auto auto;
    object-fit: contain;
}

.minha-card .conteudo-card{
    /* border: 0.1rem solid #000; */
    margin: auto auto;
    padding: 0.3rem 0.3rem;
    /* border-radius: 1rem; */
}

.minha-card .conteudo-card a{
    margin-top: 1rem;
    padding: auto;
}

.js-style{
    background-color: yellow;
    color: black;
    font-weight: bolder;
}

@media screen and (max-width: 680px) {
    .item-carrossel{
        height: 20rem;
    }
    .item-carrossel .img-carrossel{
        height: 20rem;
        object-fit: cover;
    }
    .texto-promo{
        top: 5rem !important;
    }
}

@media screen and (max-width: 515px) {
    .item-carrossel{
        height: 15rem;
    }
    .item-carrossel .img-carrossel{
        height: 15rem;
        object-fit: cover;
    }
    .texto-promo{
        top: 15% !important;
    }
}

@media screen and (max-width: 380px) {
    .item-carrossel{
        height: 10rem;
    }
    .item-carrossel .img-carrossel{
        height: 10rem;
        object-fit: cover;
    }
    .texto-promo{
        top: -1rem !important;
    }
}