/*
    Pallettes

    #22007C;

    #140152;

    #04052E;

    #02010A;
*/

main{
    font-family: 'Hind', sans-serif;
}

.item-carrossel{
    height: 30rem;
}

.item-carrossel .img-carrossel{
    height: 30rem;
    object-fit: cover;
    filter: blur(0.2rem) brightness(0.2);

}

.minha-card{
    width: 30rem;
    margin: 1rem 0;
    border: 1rem #000;
}

.minha-card .img-card{
    width: 50%;
}

.minha-card .texto-card{
    margin: auto auto;
}

.minha-card .botao-card{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .item-carrossel{
        height: 20rem;
    }
    .item-carrossel .img-carrossel{
        height: 20rem;
        object-fit: cover;
    }
}

@media screen and (max-width: 515px) {
    .item-carrossel{
        height: 15rem;
    }
    .item-carrossel .img-carrossel{
        height: 15rem;
        object-fit: cover;
    }
}

@media screen and (max-width: 380px) {
    .item-carrossel{
        height: 10rem;
    }
    .item-carrossel .img-carrossel{
        height: 10rem;
        object-fit: cover;
    }
}