@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Hind&family=Jost&display=swap');

/* PALETTE
    #22577A
    #38A3A5
    #57CC99
    #80ED99
    #C7F9CC
*/

body{
    background-color: #80ED99;
}


main{
    font-family: 'Hind', sans-serif;
}

main .container{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

main .container .email, main .container .email input{
    margin-top: 1rem;
}


main .container .senha, main .container .senha input{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

main .container .senha input[type="submit"]{
    font-size: 20px;
}

main .checkbox{
    float: right;
}

form label{
    color: #fff;
}

main .login{
    padding: 5rem;
    box-shadow: #000 5px 5px 0px;
    background-color: #22577A;
    border-radius: 1.5rem;
}

main .login .login-title{
    color: #fff;
    text-shadow: #000 5px 2px 5px;
    font-size: 50px;
}

textarea {
    resize: none;
  }

@media screen and (max-width: 450px){
    main .login{
        padding: 3rem;
    }
}

@media screen and (max-width: 350px){
    main .login{
        padding: 2rem;
    }
}